
.works-section{
  width: 100%;
  float: left;
  padding: 35px 0 242px;
  height: 100%;
  min-height: 685px;
}

.works-figure{
  width: 100%;
  float: left;
  padding-top: 52px;
}
.works-figure figure{
  width: 100%;
  float: left;
  display: none;
  height: 356px;
  position: relative;
  pointer-events: none;
}
.works-figure figure img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.day-view{
  width: 100%;
  max-width: 98px;
  position: absolute;
  left: 20px;
  top: 60px;
  overflow: hidden;
}

.day-view:before{
  content: " ";
  width: 1px;
  height: 97%;
  position: absolute;
  left: 6px;
  top: 6px;
  background: #d7d7d7;
}

.day-view ul{
  width: 100%;
  float: left;
  margin: 0;
  position: relative;
}

.day-view ul li{
  width: 100%;
  float: left;
  position: relative;
}

.day-view ul li:before{
  content: " ";
  width: 13px;
  height: 13px;
  position: absolute;
  left: 0;
  top: 4px;
  background: #b7b7b7;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
      -ms-border-radius: 100%;
       -o-border-radius: 100%;
          border-radius: 100%;
            -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}


.day-view ul li + li{
  margin-top: 60px;
}

.day-view ul li a{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #6c6c6c;
  text-transform: uppercase;
  padding-left: 28px;
  letter-spacing: 1px;
  outline: none;
}


.active-area{
  position: absolute;
  left: 6px;
  top: 0;
  width: 1px;
  background: #f59203;
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

.active-day.active-day:before{
  background: #f59203;
}

.main-active-day.main-active-day a{
  color: #000;
}

.works-section-content{
  width: 100%;
  float: left;
  padding-top: 63px;
}
.works-section-content strong,
.testimonials-section .container > strong,
.blog-post-section .container > strong,
.smart-garden-content > strong{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #858585;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 12px;
}

.testimonials-section .container > strong,
.smart-garden-content > strong{
  letter-spacing: 2.5px;
}

.works-section-content strong:before,
.testimonials-section .container > strong:before,
.blog-post-section .container > strong:before,
.smart-garden-content > strong:before{
  content: " ";
  width: 120px;
  height: 1px;
  background: #b7b7b7;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -132px;
}
.works-section-content h2{
  font-family: 'ProximaNovaCond-Light';
  font-size: 40px;
  color: #1a1a1a;
  letter-spacing: -0.2px;
  margin: 35px 0 15px;
}
.works-section-content p{
  font-family: 'ProximaNovaCond-Regular';
  font-size: 16px;
  font-weight: 400;
  color: #525252;
  line-height: 1.5em;
  display: inline-block;
  width: 100%;
  margin: 13px 0 0;
  letter-spacing: 0.2px;
}

.works-section-content .btnn.btnn{
  padding: 0 32px;
  margin-top: 38px;
}

.main-listing-section{
  width: 100%;
  float: left;
  background: #f7f7f7;
  padding: 25px 0 66px;
  border-top: 1px solid #e1e1e1;
}

.list-sec{
  width: 100%;
  float: left;
  position: relative;
  margin-top: -150px;
}

.sub-listing{
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 45px;
}
.sub-listing figure{
  width: 100%;
  float: left;
  height: 307px;
  position: relative;
  background: #ebebeb;
  border: 2px solid #fff;
  box-shadow: 0px 0px 2px 2px #e7e7e7;
}
.sub-listing figure a{
  width: 100%;
  height: 100%;
  display: block;
}
.sub-listing figure img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
       -o-border-radius: 4px;
          border-radius: 4px;
}

.sub-listing h3{
  font-family: 'ProximaNovaCond-Semibold';
  font-size: 20px;
  color: #1a1a1a;
  clear: both;
  display: inline-block;
  width: 100%;
  margin: 25px 0 22px;
}
.sub-listing h3 a{
  color: #1a1a1a;
}
.sub-listing h3 a:hover{
  color: #f59203;
}
.sub-listing strong{
  width: 100%;
  font-family: 'ProximaNovaCond-Bold';
  font-size: 23px;
  color: #f59203;
  display: inline-block;
  margin-bottom: 12px;
}
.sub-listing p{
  font-family: 'ProximaNovaCond-Regular';
  font-size: 16px;
  color: #525252;
  line-height: 1.5em;
}
.testimonials-section{
  width: 100%;
  float: left;
  padding: 75px 0 52px;
}

.testimonials-slide-sec{
  width: 100%;
  float: left;
  margin-top: 48px;
  position: relative;
}

.testimonials-slide-sec:before{
  content: " ";
  width: 89px;
  height: 71px;
  background: url('images/icon-02.png') no-repeat center;
  position: absolute;
  left: -118px;
  top: 7px;
}

.slide-content{
  width: 100%;
  float: left;
  margin-bottom: 47px;
}
.slide-content-item{
  width: 100%;
  float: left;
}

.slide-content-item h2{
  font-family: 'ProximaNovaCond-Light';
  font-size: 40px;
  color: #1a1a1a;
  letter-spacing: -0.2px;
  margin: 0 0 21px;
}
.slide-content-item p{
  font-family: 'ProximaNovaCond-Regular';
  font-size: 16px;
  color: #525252;
  line-height: 1.5em;
  letter-spacing: 0.2px;
}

.testimonials-slide-figure{
  width: 100%;
  max-width: 557px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 20px;
}

.slide-figure-item,
.slide-figure-item figure{
  width: 100%;
  float: left;
  text-align: center;
}
.slide-figure-item figure img{
  width: 98px;
  height: 98px;
  margin: 0 auto;
  filter: grayscale(100%);
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
      -ms-border-radius: 100%;
       -o-border-radius: 100%;
          border-radius: 100%;
}
.slide-figure-item strong{
  font-family: 'ProximaNovaCond-Semibold';
  font-size: 17px;
  color: #1a1a1a;
  width: 100%;
  display: inline-block;
  margin: 15px 0 5px;
}
.slide-figure-item p{
  font-family: 'ProximaNovaCond-Regular';
  font-size: 14px;
  color: #878787;
}


.testimonials-slide-figure .slick-current.slick-active + .slick-active figure img{
  border: 3px solid #f59203;
  filter: grayscale(0);
}

.testimonials-slide-figure .slick-prev{
  color: transparent;
  width: 13px;
  height: 24px;
  background: url('images/prev-btn.png') no-repeat center;
  border: none;
  position: absolute;
  top: 0;
  bottom: 75px;
  margin: auto;
  left: 0;
  z-index: 9;
}
.testimonials-slide-figure .slick-next{
  color: transparent;
  width: 13px;
  height: 24px;
  background: url('images/next-btn.png') no-repeat center;
  border: none;
  position: absolute;
  top: 0;
  bottom: 75px;
  margin: auto;
  right: 0;
  z-index: 9;
}


.slide-main-figure{
  width: 100%;
  float: none;
  max-width: 780px;
  overflow: hidden;
  margin: 45px auto 0;
}

.slide-main-figure figure{
  width: 100%;
  float: left;
  text-align: center;
}

.slide-main-figure figure img{
  width: 98%;
  display: inline-block;
  margin: 3px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 3px 2px #ebebeb;
  border-radius: 4px;
}

.blog-post-section{
  width: 100%;
  float: left;
  padding: 70px 0;
  background: #252525 url('images/bg-01.jpg') no-repeat right bottom;
}

.blog-sec{
  width: 100%;
  float: left;
  margin-top: 50px;
  position: relative;
}
.blog-sec h2 {
  font-family: "ProximaNovaCond-Light";
  color: #fff;
  font-size: 40px;
  letter-spacing: -0.2px;
  margin: 0 0 50px;
}

.sub-blog-sec{
  width: 100%;
  float: left;
  border: 3px solid #fff;
  border-radius: 4px;
  background: #fff;
  position: relative;
  height: 245px;
}

.sub-blog-sec figure{
  width: 47%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: none no-repeat center;
}

.sub-blog-sec figure a{
  display: block;
  width: 100%;
  height: 100%;
}

.sub-blog-content{
  width: 50%;
  float: right;
  padding: 20px 15px;
}

.sub-blog-content strong{
  width: 100%;
  display: inline-block;
  font-family: 'ProximaNovaCond-Semibold';
  font-size: 12px;
  color: #747474;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-bottom: 12px;
}
.sub-blog-content h3{
  font-family: 'ProximaNovaCond-Semibold';
  font-size: 18px;
  color: #525252;
  margin: 0 0 16px;
  line-height: 1.3em;
}
.sub-blog-content h3 a{
  color: #525252;
}
.sub-blog-content h3 a:hover{
  color: #e18501;
}
.sub-blog-content p{
  font-family: 'ProximaNovaCond-Regular';
  font-size: 16px;
  color: #525252;
  line-height: 1.5em;
}
.sub-blog-content p a{
  color: #e18501;
}
.sub-blog-content p a:hover{
  color: #000;
}

.blog-sec .btnn.btnn{
  position: absolute;
  right: 0;
  top: -29px;
  padding: 0 25px;
}

.smart-garden-section{
  width: 100%;
  float: left;
  padding: 85px 0 25px;
  background: #f9f9f9;
}

.smart-garden-content{
  width: 100%;
  float: left;
}

.smart-garden-content > strong{
  margin-bottom: 25px;
  display: inline-block;
}

.smart-garden-content h2 {
  font-family: "ProximaNovaCond-Light";
  color: #1a1a1a;
  font-size: 40px;
  letter-spacing: -0.2px;
  margin: 23px 0 18px;
}
.smart-garden-content span{
  width: 100%;
  display: block;
  font-family: 'ProximaNovaCond-Bold';
  font-size: 25px;
  font-weight: 700;
  color: #f59203;
}

.smart-garden-content .btnn.btnn{
  padding: 0 52px;
  margin-top: 32px;
}
.smart-garden-section figure{
  width: 100%;
  float: left;
}

.smart-garden-sub-section{
  width: 100%;
  float: left;
  padding: 70px 0 45px;
  text-align: center;
}

.smart-garden-sub-section h2{
  font-family: 'ProximaNovaCond-Regular';
  font-size: 40px;
  color: #1a1a1a;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.smart-garden-sub-section h2 strong{
  font-family: 'ProximaNovaCond-Bold';
  color: #1a1a1a;
  display: block;
}
.smart-garden-sub-section img{
  display: inline-block;
  vertical-align: middle;
  margin: 0 50px;
}

.smart-garden-sub-section p{
  font-family: 'ProximaNovaCond-Regular';
  font-size: 18px;
  color: #383838;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.smart-garden-sub-section p a{
  color: #383838;
}

.partners-section{
  width: 100%;
  float: left;
  padding: 13px 0;
  background: #f8f8f8;
}

.partners-slide{
  width: 100%;
  float: left;
  padding: 0 65px;
}
.partners-item{
  width: 100%;
  float: left;
  height: 65px;
  position: relative;
}
.partners-item img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: auto !important;
}

.main-footer{
  width: 100%;
  float: left;
  background: #363636;
  padding: 20px 0;
}

.footer-sup{
  width: 100%;
  float: left;
  padding: 34px 0 0;
}

.sub-footer{
  width: 100%;
  float: left;
}
.sub-footer h2{
  font-family: 'ProximaNovaCond-Semibold';
  font-size: 18px;
  color: #fff;
  margin: 0 0 25px;
}
.sub-footer p{
  font-family: 'ProximaNovaCond-Regular';
  font-size: 13px;
  color: #b7b7b7;
  line-height: 1.8em;
  margin: 0;
}
.sub-footer p + p{
  margin-top: 10px;
}
.sub-footer ul{
  width: 100%;
  float: left;
  margin: 0;
}
.sub-footer ul li{
  width: 100%;
  float: left;
  font-size: 13px;
  font-family: 'ProximaNovaCond-Regular';
  color: #b7b7b7;
}
.sub-footer ul li a{
  color: #b7b7b7;
}

.sub-footer ul li a:hover{
  color: #fff;
}

.sub-footer ul li + li{
  margin-top: 6px;
}

.subscribe-section{
  width: 100%;
  float: left;
}

.subscribe-section form{
  width: 100%;
  float: left;
}

.subscribe-fld{
  width: 100%;
  float: left;
}
.subscribe-fld input{
  width: 100%;
  float: left;
  height: 38px;
  font-family: 'ProximaNovaCond-Regular';
  color: #494949;
  padding: 0 15px;
  border: none;
  background: #b5b5b5;
  font-size: 13px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
       -o-border-radius: 4px;
          border-radius: 4px;
}

.subscribe-btn-fld{
  width: 100%;
  max-width: 130px;
  overflow: hidden;
  display: inline-block;
  margin-top: 12px;
}

.subscribe-btn-fld .btnn.btnn{
  width: 100%;
  margin: 0;
  border: none;
  height: 38px;
  line-height: 38px;
}

.footer-sup .container{
  border-bottom: 1px solid #555555;
  padding-bottom: 54px !important;
}

.copy-right{
  width: 100%;
  float: left;
}
.copy-right .container{
  border-top: 1px solid #000;
  padding-top: 15px !important;
}

.footer-social-section{
  width: 100%;
  float: left;
  text-align: left;
}
.footer-social-section ul{
  width: 100%;
  float: left;
  margin: 0;
}
.footer-social-section ul li{
  display: inline-block;
  vertical-align: middle;
}

.footer-social-section ul li + li{
  margin-left: 30px;
}

.footer-social-section ul li a{
  font-size: 24px;
  color: #6b6b6b;
}
.footer-social-section ul li a:hover{
  color: #f59203;
}

.main-section{
  width: 100%;
  float: left;
  padding: 52px 0 25px;
}

.main-content-section{
  width: 100%;
  float: left;
}
.main-content-section .container > h2,
.sub-story-team h2,
.main-blog-section h2,
.online-store-section h2,
.retailer-section h2,
.grow-greens h2,
.learns-to-grow-section h2,
.video-section h2{
  width: 100%;
  font-family: 'ProximaNovaCond-Regular';
  font-size: 40px;
  color: #1a1a1a;
  text-align: center;
  /*margin: 0 0 71px;*/
  margin: 0 0 30px;
  display: table-caption;
}

.main-content-section .container > p{
  font-family: 'ProximaNovaCond-Regular';
  font-size: 16px;
  color: #525252;
  line-height: 1.5em;
  margin-top: 25px;
  letter-spacing: 0.1px;
}
.main-content-section .container > p a{
  color: #d57e01;
}
.main-content-section .container > p a:hover{
  text-decoration: underline !important;
}

.help-main-listing{
  width: 100%;
  float: left;
  margin-top: 43px;
}

.help-sub-listing{
  width: 100%;
  float: left;
}

.help-sub-listing h2{
  font-family: 'ProximaNovaCond-Regular';
  font-size: 23px;
  color: #1a1a1a;
  text-align: center;
  margin: 0 0 20px;
}

.help-sub-listing figure{
  width: 100%;
  float: left;
}
.help-sub-listing figure img{
  width: 100%;
}

.help-details{
  width: 100%;
  float: left;
  margin-top: 20px;
}

.sub-help-details{
  width: 100%;
  float: left;
}

.sub-help-details + .sub-help-details{
  margin-top: 4px;
}

.sub-help-details header{
  font-family: 'ProximaNovaCond-Semibold';
  font-size: 15px;
  color: #1a1a1a;
  position: relative;
  width: 100%;
  float: left;
  cursor: pointer;
  padding: 8px 30px 8px 10px;
  background: #ebebeb;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
}

.sub-help-details header.header-active{
  background: #d57e01;
  color: #fff;
}


.sub-help-details header:before{
  content: " ";
  background: url('images/icon-03.png') no-repeat center;
  width: 13px;
  height: 7px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 15px;
  pointer-events: none;
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

.sub-help-details header.header-active:before{
  background: url('images/icon-04.png') no-repeat center;
}

.sub-help-content{
  width: 100%;
  float: left;
  padding: 15px 2px 15px 10px;
  display: none;
}

.sub-help-content h3{
  font-family: 'ProximaNovaCond-Bold';
  font-size: 14px;
  color: #282828;
  margin: 0 0 8px;
  line-height: 1.4em;
}

.sub-help-content p{
  font-family: 'ProximaNovaCond-Regular';
  font-size: 14px;
  color: #525252;
  line-height: 1.7em;
  margin-bottom: 15px;
}

.main-ask-section{
  width: 100%;
  float: left;
  padding: 55px 0;
  background: #f7f7f7;
  border-top: 1px solid #e1e1e1;
  text-align: center;
}

.main-ask-section h2{
  font-family: 'ProximaNovaCond-Regular';
  font-size: 40px;
  color: #282828;
  letter-spacing: 1px;
  margin: 0 0 20px;
}

.main-ask-section p{
  font-size: 14px;
  font-family: 'ProximaNovaCond-Regular';
  color: #626262;
  line-height: 1.6em;
}

.ask-form-section{
  width: 100%;
  max-width: 450px;
  overflow: hidden;
  margin: 40px auto 0;
}

.ask-fld{
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.ask-fld input,
.ask-fld textarea{
  font-family: 'ProximaNovaCond-Regular';
  width: 100%;
  height: 48px;
  padding: 0 15px;
  font-size: 13px;
  color: #494949;
  resize: none;
  border-radius: 5px;
  background: #d7d7d7;
  border: none;
}
.ask-fld textarea{
  height: 90px;
  padding: 15px;
}

.ask-btn-fld{
  width: 100%;
  max-width: 130px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  padding-top: 15px;
}
.ask-btn-fld .btnn.btnn{
  width: 100%;
  border: none;
  margin: 0;
}

.inner-sec .partners-section{
  border-top: 1px solid #e1e1e1;
}

.story-team-section{
  width: 100%;
  float: left;
  padding-bottom: 45px;
}

.sub-story-team{
  width: 100%;
  float: left;
  text-align: center;
}

.sub-story-team + .sub-story-team{
  margin-top: 65px;
}

.sub-story-fig{
  width: 100%;
  float: left;
}

.sub-story-content{
  width: 100%;
  float: left;
  text-align: center;
}
.sub-story-content figure{
  width: 118px;
  height: 118px;
  position: relative;
  margin: 0 auto;
  border: 2px solid #d57e01;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
      -ms-border-radius: 100%;
       -o-border-radius: 100%;
          border-radius: 100%;
}
.sub-story-content figure img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.sub-story-content h3{
  font-family: 'ProximaNovaCond-Regular';
  font-size: 23px;
  color: #1a1a1a;
  margin: 20px 0 10px;
}
.sub-story-content h3 a{
  color: #1a1a1a;
}
.sub-story-content h3 a:hover{
  color: #d57e01;
}

.sub-story-content p{
  font-size: 16px;
  font-family: 'ProximaNovaCond-Regular';
  color: #525252;
  line-height: 1.5em;
}

.our-team-section{
  width: 100%;
  float: left;
  padding: 45px 0;
  border-top: 1px solid #e1e1e1;
  background: #fbfbfb;
  text-align: center;
}

.our-team-section h2 {
  font-family: "ProximaNovaCond-Regular";
  color: #1a1a1a;
  font-size: 40px;
  text-align: center;
  margin: 0 0 55px;
}
.our-team-slide{
  width: 100%;
  float: left;
  text-align: center;
}

.our-team-slide figure{
  margin-bottom: 20px;
}


.our-team-slide figure,
.our-team-slide figure img{
  width: 200px;
  height: 200px;
  display: inline-block;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
      -ms-border-radius: 100%;
       -o-border-radius: 100%;
          border-radius: 100%;
}

.our-team-item{
  width: 100%;
  float: left;
}

.our-team-slide h3{
  font-family: "ProximaNovaCond-Regular";
  font-size: 23px;
  color: #1a1a1a;
  margin: 0;
}

.our-team-slide h3 a{
  color: #1a1a1a;
}
.our-team-slide h3 a:hover{
  color: #ec8b00;
}

.our-team-slide p{
  font-family: "ProximaNovaCond-Regular";
  font-size: 16px;
  margin: 8px auto;
  color: #525252;
  width: 100%;
  max-width: 235px;
}

.our-team-slide p strong,
.our-team-slide p a{
  font-family: 'ProximaNovaCond-Bold';
  font-size: 15px;
  color: #1a1a1a;
}

.our-team-item > a{
  font-family: 'ProximaNovaCond-Bold';
  font-size: 14px;
  color: #525252;
}
.our-team-item > a i{
  color: #ec8b00;
}

.our-team-item > a:hover{
  color: #ec8b00;
}

.our-team-slide .owl-nav{
  width: 100%;
  height: 56px;
  top: 85px;
  pointer-events: none;
}

.our-team-slide .owl-nav .owl-prev{
  background: url('images/prev-arw.png') no-repeat center;
  width: 25px;
  height: 56px;
  float: left;
  position: relative;
  margin-left: -45px;
  pointer-events: auto;
}
.our-team-slide .owl-nav .owl-next{
  background: url('images/next-arw.png') no-repeat center;
  width: 25px;
  height: 56px;
  float: right;
  position: relative;
  margin-right: -45px;
  pointer-events: auto;
}


.main-blog-section{
  width: 100%;
  float: left;
}

.sub-blog-section{
  width: 100%;
  float: left;
  border: 3px solid #fff;
  background: #f6f6f6;
  box-shadow: 0px 0px 3px 3px #ebecec;
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

.sub-blog-section:hover{
  box-shadow: 0px 0px 10px 6px #e5e5e5;
  background: #d1d1d1;
}

.sub-blog-section:hover figure img{
  transform: scale(1.2, 1.2);
}


.sub-blog-section figure{
  width: 100%;
  float: left;
  overflow: hidden;
}
.sub-blog-section figure img{
  width: 100%;
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}
.sub-blog-section figure a{
  display: block;
  width: 100%;
}

.sub-blog-content-sec{
  width: 100%;
  float: left;
  padding: 15px;
}
.sub-blog-content-sec h3{
  font-family: 'ProximaNovaCond-Bold';
  font-size: 20px;
  color: #161616;
  clear: both;
  margin: 0 0 8px;
}
.sub-blog-content-sec h3 a{
  color: #161616;
}
.sub-blog-content-sec h3 a:hover{
  color: #d57e01;
}

.sub-blog-content-sect span{
  font-family: "ProximaNovaCond-Regular";
  font-size: 13px;
  color: #7b7b7b;
  display: inline-block;
}
.sub-blog-content-sec p{
  font-family: "ProximaNovaCond-Regular";
  font-size: 16px;
  color: #161616;
  margin: 8px 0 0;
  line-height: 1.4em;
}

.main-blog-section .grid-item{
  margin-bottom: 25px;
}

.main-store-section{
  width: 100%;
  float: left;
}

.main-store-section{
  width: 100%;
  float: left;
}

.store-select-sec{
  width: 100%;
  float: left;
  text-align: right;
}
.store-select-sec select{
  font-family: 'ProximaNovaCond-Bold';
  font-size: 13px;
  display: inline-block;
  background: url('images/icon-05.jpg') no-repeat 94% center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 10px;
  vertical-align: middle;
  width: 148px;
  height: 40px;
  border: 2px solid #000;
  color: #000;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}

.store-select-sec select + select{
  margin-left: 5px;
}

.store-select-sec select option + option{
  margin-top: 3px;
}

.store-listing-section{
  width: 100%;
  float: left;
  margin-top: 35px;
}

.sub-store-listing{
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 45px;
}

.sub-store-listing h3{
  font-family: 'ProximaNovaCond-Bold';
  font-size: 28px;
  color: #1a1a1a;
  margin: 0 0 20px;
}
.sub-store-listing h3 a{
  color: #1a1a1a;
}
.sub-store-listing h3 a:hover{
  color: #d57e01;
}



.sub-store-content{
  width: 100%;
  float: left;
  height: 225px;
  font-size: 0;
  padding: 0 10px;
  text-align: center;
  background: #f2f2f2;
  border: 3px solid #fff;
  box-shadow: 0px 0px 2px 2px #ebecec;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}

.sub-store-content:before{
  content:" ";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.sub-store-fld{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.sub-store-fld strong{
  font-family: "ProximaNovaCond-Regular";
  font-size: 20px;
  color: #1a1a1a;
  line-height: 1.2em;
}

.sub-store-fld strong a{
  color: #1a1a1a;
}
.sub-store-fld strong a:hover{
  color: #d57e01;
}

.sub-store-fld p{
  font-family: "ProximaNovaCond-Regular";
  font-size: 16px;
  color: #525252;
  line-height: 1.4em;
  margin: 10px 0;
}

.sub-store-fld p a{
  color: #525252;
  display: block;
}

.sub-store-fld > img{
  margin: 0 auto;
}

.online-store-section{
  width: 100%;
  float: left;
  background: #f7f7f7;
  padding: 45px 0;
}

.online-store-section h2{
  margin-bottom: 40px;
}

.online-store-fld{
  width: 100%;
  float: left;
  padding: 0 135px;
}

.online-store-fld .sub-store-content{
  background: #fff;
  padding: 0 50px;
}

.online-store-fld .sub-store-fld strong{
  width: 100%;
  display: inline-block;
}

.online-store-fld .sub-store-fld > a{
  color: #525252;
  font-size: 16px;
  margin: 10px 0;
  display: inline-block;
}
.online-store-fld .sub-store-fld > a:hover{
  color: #000;
}

.retailer-section{
  width: 100%;
  float: left;
  padding: 35px 0;
  text-align: center;
}
.retailer-section h2{
  margin-bottom: 25px;
}
.retailer-section .btnn.btnn{
  margin-top: 0;
}

.main-content-section .container > p strong{
  font-family: 'ProximaNovaCond-Light' !important;
  font-size: 25px;
  color: #525252;
  line-height: 1.5em;
  text-align: center !important;
  display: block;
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

.growing-group-sec{
  width: 100%;
  float: left;
  text-align: center;
}

.main-content-section .container > ul{
  width: 100%;
  float: left;
  margin: 15px 0;
}

.growing-group-sec li{
  font-family: 'ProximaNovaCond-Bold';
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  color: #fff;
  letter-spacing: 2px;
  margin: 0 3px;
}

.growing-group-sec li a{
  width: 100%;
  display: block;
  height: 45px;
  line-height: 45px;
  padding: 0 30px;
  text-transform: uppercase;
  color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
}

.growing-group-sec li:nth-child(1) a{
  background: #62bb46;
}

.growing-group-sec li:nth-child(2) a{
  background: #157877;
}
.growing-group-sec li:nth-child(3) a{
  background: #a13594;
}

.growing-group-sec li a:hover{
  background: #525252;
}

.growing-group-sec + p{
  text-align: center;
}

.plant-capsule-section{
  width: 100%;
  float: left;
  margin-top: 30px;
  text-align: center;
  padding-bottom: 15px;
}


.main-content-section + .plant-capsule-section .container{
  border-top: 1px solid #dcdcdc;
}


.plant-capsule-section .container{
  padding-top: 35px !important;
}

.plant-capsule-section .container > h3{
  font-family: "ProximaNovaCond-Regular";
  font-size: 28px;
  color: #1a1a1a;
  margin: 0 0 45px;
}

.product-listing-section{
  width: 100%;
  float: left;
}


.plant-capsule-section .list-sec{
  margin: 0;
}

.plant-capsule-section .sub-listing .bye-now{
  padding: 0 15px;
  margin: 15px 4px 0;
}

.plant-week-section{
  width: 100%;
  float: left;
  padding: 45px 0;
  background: #f7f7f7;
}

.plant-week-sec{
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  overflow: hidden;
  padding: 60px;
  background: #000 url('images/figure-45.jpg') no-repeat right center;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
       -o-border-radius: 4px;
          border-radius: 4px;
}

.learns-to-grow{
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  overflow: hidden;
  padding: 60px;
  background: #000;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
       -o-border-radius: 4px;
          border-radius: 4px;
}




.plant-week-sec h2{
  font-family: "ProximaNovaCond-Regular";
  font-size: 40px;
  color: #fff;
  margin: 0 0 8px;
}
.plant-week-sec p{
  font-family: "ProximaNovaCond-Regular";
  font-size: 20px;
  color: #fff;
  margin: 0 0 5px;
}
.plant-week-sec .read-more,
.learns-to-grow-content .read-more{
  border: 2px solid #fff;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
}
.plant-week-sec .read-more + .read-more,
.learns-to-grow-content .read-more + .read-more{
  margin-left: 5px;
}

.plant-week-sec .read-more:hover,
.learns-to-grow-content .read-more:hover{
  background: #f59203;
  border: 2px solid #f59203;
}

.learns-to-grow-section{
  width: 100%;
  float: left;
  padding: 60px 0;
  background: #252525;
}
.learns-to-grow-section h2{
  font-family: "ProximaNovaCond-Regular";
  margin: 0 0 25px;
  font-size: 40px;
  color: #fff;
  text-align: center;
}

.learns-to-grow-section figure{
  width: 31%;
  float: left;
}
.learns-to-grow-section figure img{
  width: 100%;
  float: left;
}

.learns-to-grow-content{
  width: 69%;
  float: right;
  padding-left: 25px;
}

.learns-to-grow-content h3{
  font-family: 'ProximaNovaCond-Semibold';
  font-size: 23px;
  color: #fff;
  margin: 0 0 10px;
}

.learns-to-grow-content p{
  font-family: "ProximaNovaCond-Regular";
  font-size: 16px;
  color: #fff;
  line-height: 1.4em;
}

.learns-to-grow-content p + h3{
  margin-top: 25px;
}

.grow-greens .container{
  border-top: 1px solid #dcdcdc;
  padding-top: 45px !important;
}

.grow-greens h2{
  margin: 0 0 15px;
}
.grow-greens .container > h3{
  margin: 0 0 15px;
}

.grow-greens .container > p{
  font-family: "ProximaNovaCond-Regular";
  font-size: 16px;
  color: #525252;
  line-height: 1.5em;
}

.grow-greens .list-sec{
  margin-top: 55px;
}

.plant-select-section{
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
}

.plant-select-section select {
  background:  url("images/icon-05.jpg") no-repeat scroll 94% center;
  border: 2px solid #000;
  border-radius: 5px;
  color: #000;
  float: left;
  font-family: "ProximaNovaCond-Bold";
  font-size: 13px;
  height: 40px;
  letter-spacing: 1px;
  padding: 0 10px;
  text-transform: uppercase;
  vertical-align: middle;
  width: 148px;
}

.plant-select-section select + select{
  float: right;
}

.plant-select-section select option + option {
  margin-top: 3px;
}

.shop-smart-garder-sec{
  margin: 0;
}

.shop-smart-garder-sec .container{
  padding-top: 0 !important;
}

.shop-smart-garder-sec .sub-listing figure{
  background: #fbfbfb;
}

.shop-smart-garder-sec .list-sec{
  margin-bottom: 20px;
}


.shop-smart-garder-sec h2{
  font-family: "ProximaNovaCond-Regular";
  font-size: 40px;
  color: #1a1a1a;
  clear: both;
  margin: 0 0 20px;
}



.grow-greens-section + .main-content-section{
  padding: 55px 0 25px;
}



.plant-capsule-section + .main-content-section,
.grow-greens-section + .main-content-section{
  text-align: center;
}
.plant-capsule-section + .main-content-section h2,
.grow-greens-section + .main-content-section h2{
  margin-bottom: 15px;
}

.plant-capsule-section + .main-content-section p,
.grow-greens-section + .main-content-section p{
  font-family: "ProximaNovaCond-Regular";
  font-size: 15px;
  color: #525252;
  line-height: 1.4em;
  width: 100%;
  max-width: 930px;
  margin: 0 auto;
}


.plant-capsule-section + .main-content-section p + p{
  margin-top: 12px;
}

.grow-greens-section{
  width: 100%;
  float: left;
  margin-top: 45px;
}

.grow-greens-fig{
  width: 60%;
  float: right;
  height: 500px;
  position: relative;
  background: #ededed;
  overflow: hidden;
}

.grow-greens-fig img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}



.grow-greens-content{
  width: 40%;
  float: left;
  height: 500px;
  background: #000;
  font-size: 0;
}
.grow-greens-content:before{
  content: " ";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}


.grow-greens-subcontent{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  padding: 50px;
  text-align: center;
}
.grow-greens-subcontent h2{
  font-family: "ProximaNovaCond-Regular";
  font-size: 40px;
  color: #fff;
  width: 100%;
  max-width: 370px;
  margin: 0 auto;
}

.grow-greens-subcontent p{
  font-family: "ProximaNovaCond-Regular";
  font-size: 16px;
  color: #ededed;
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
}

.grow-greens-subcontent h2 + p{
  margin: 30px auto 0;
}

.main-category{
  width: 100%;
  float: left;
  padding: 50px 0;
  background: #fafafa;
  margin-top: 30px;
}

.sub-category-listing{
  width: 100%;
  float: left;
}

.sub-category-listing h2{
  font-family: "ProximaNovaCond-Bold";
  font-size: 23px;
  color: #1a1a1a;
  margin: 0 0 15px;
}
.sub-category-listing p{
  font-family: "ProximaNovaCond-Regular";
  font-size: 16px;
  color: #525252;
  line-height: 1.5em;
  margin: 0;
}

.sub-category-listing h2 span{
  font-family: 'ProximaNovaCond-Semibold';
  font-size: 20px;
  color: #fff;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #f59203;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
      -ms-border-radius: 100%;
       -o-border-radius: 100%;
          border-radius: 100%;
}

.main-fig-example{
  width: 100%;
  float: left;
  position: relative;
}
.main-fig-example img{
  width: 100%;
}

.main-fig-example .link-sec{
  position: absolute;
  width: 100%;
  bottom: 25px;
  left: 0;
  text-align: center;
}
.main-fig-example .link-sec a{
  font-family: "ProximaNovaCond-Bold";
  display: inline-block;
  font-size: 18px;
  color: #ff9100;
  text-transform: uppercase;
}
.main-fig-example .link-sec a:hover{
  color: #525252;
}

.main-fig-example + .grow-greens-section{
  margin: 0;
}

.even-green-section .grow-greens-content{
  float: right;
  width: 57%;
  height: 411px;
}
.even-green-section .grow-greens-fig{
  float: left;
  width: 43%;
  height: 411px;
}

.main-fig-example + .grow-greens-section .grow-greens-content{
  background: #000 url('images/figure-58.jpg') no-repeat left top;
}

.main-fig-example + .grow-greens-section .grow-greens-content .grow-greens-subcontent{
  padding-left: 280px;
  text-align: left;
}

.main-fig-example + .grow-greens-section .grow-greens-content .grow-greens-subcontent h2{
  margin: 0;
}

.content_sec{
  padding: 25px 0;
}

.content_sec h2{
  margin-bottom: 25px;
}

.content_sec p + p{
  margin-top: 30px !important;
}

.border-less .container{
  border: none !important;
  padding-top: 0px !important;
}

.border-less .sub-listing figure{
  background: #fff;
}

.video-section{
  width: 100%;
  float: left;
}

.video-section .container{
  border-top: 1px solid #dcdcdc;
  padding: 55px 0 25px !important;
}

.video-section iframe{
  width: 100%;
  max-width: 845px;
  height: 475px;
  overflow: hidden;
  margin: 0 auto;
  display: block;
}

.shop-accessories .sub-listing{
  float: none;
  width: 98% !important;
  margin: 2px auto;
}

.shop-accessories .sub-listing img{
  width: auto !important;
}

.shop-accessories .sub-listing h3{
  width: 100%;
  max-width: 310px;
  margin: 25px auto 20px;
  line-height: 1.5em;
}



.alignleft{
  float: left;
  margin: -18px 29px 10px 0;
}


.alignright{
  float: right;
  margin: 5px 0 10px 29px;
}
.aligncenter{
  margin: 10px auto;
}



@media only screen and (max-width:1240px) {

.our-team-slide{
  padding: 0 85px;
}

.our-team-slide .owl-nav .owl-prev{
  margin-left: 0;
}
.our-team-slide .owl-nav .owl-next{
  margin-right: 0;
}
.sub-listing figure img {
  width: 180px;
}
}



@media only screen and (max-width:1140px) {
.sub-blog-content h3 {
  margin: 0 0 8px;
}
.sub-blog-content p{
  line-height: 1.3em;
}
.online-store-fld {
  padding: 0 45px;
}
}


@media only screen and (max-width:1040px) {
.sub-blog-content h3{
  font-size: 16px;
}
.sub-blog-content{
  width: 53%;
}
.sub-blog-content {
  padding: 10px 15px;
}
.help-sub-listing h2{
  font-size: 20px;
}
}


@media only screen and (max-width:940px) {
.works-figure {
  padding-left: 85px;
}
.works-section-content h2,
.slide-content-item h2,
.blog-sec h2,
.smart-garden-content h2,
.smart-garden-sub-section h2{
  font-size: 32px;
}
.sub-listing h3{
  font-size: 16px;
}
.main-content-section .container > h2,
.sub-story-team h2,
.our-team-section h2,
.main-blog-section h2,
.online-store-section h2,
.retailer-section h2,
.grow-greens h2,
.learns-to-grow-section h2,
.video-section h2{
  font-size: 34px;
}
.alignleft,
.alignright,
.aligncenter{
  float: none;
  margin: 0 0 10px;
}
.help-sub-listing h2{
  font-size: 18px;
}
.sub-help-details header{
  font-size: 13px;
}
.our-team-slide figure, 
.our-team-slide figure img{
  width: 150px;
  height: 150px;
}
.sub-store-listing h3{
  font-size: 24px;
}
.sub-store-fld strong{
  font-size: 18px;
}
.online-store-fld {
  padding: 0;
}
.sub-listing strong {
  font-size: 20px;
}
}


@media only screen and (max-width:840px) {
.works-section-content h2,
.slide-content-item h2,
.blog-sec h2,
.smart-garden-content h2,
.smart-garden-sub-section h2{
  font-size: 28px;
}
.sub-blog-sec{
  height: auto;
}
.sub-story-content h3{
  font-size: 21px;
}
.sub-story-content p{
  font-size: 15px;
}
.main-content-section .container > h2, 
.sub-story-team h2,
.main-blog-section h2,
.online-store-section h2,
.retailer-section h2,
.grow-greens h2,
.learns-to-grow-section h2,
.video-section h2 {
  margin: 0 0 40px;
}
.sub-story-team + .sub-story-team {
  margin-top: 40px;
}
.main-content-section .container > p strong {
  font-size: 20px;
}
}


@media only screen and (max-width:767px) {
.works-section{
  min-height: initial;
  padding: 25px 0;
}
.works-figure{
  height: 100%;
  min-height: 410px;
  padding-top: 0;
}
.list-sec.list-sec.list-sec{
  width: 100%;
  max-width: 320px;
  float: none;
  overflow: hidden;
  margin: 0 auto;
}
.sub-listing{
  margin-bottom: 35px;
}
.sub-blog-sec figure{
  background-size: 100%;
}
.sub-blog-sec{
  margin-bottom: 25px;
}
.works-section-content h2 {
  margin: 20px 0 15px;
}
.testimonials-section{
  padding: 35px 0;
}
.testimonials-slide-sec {
  margin-top: 25px;
}
.smart-garden-sub-section img{
  margin: 0;
}
.smart-garden-sub-section{
  padding: 35px 0;
}
.smart-garden-sub-section h2{
  font-size: 24px;
}
.help-main-listing{
  max-width: 320px;
  float: none;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 20px;
}
.help-sub-listing h2 {
  font-size: 24px;
}
.help-sub-listing{
  margin-bottom: 35px;
}
.main-section {
  padding: 30px 0 10px;
}
.main-content-section .container > h2{
  margin: 0 0 30px;
}
.main-ask-section h2,
.main-content-section .container > h2,
.sub-story-team h2,
.our-team-section h2,
.main-blog-section h2,
.online-store-section h2,
.retailer-section h2,
.grow-greens h2,
.learns-to-grow-section h2,
.video-section h2{
  font-size: 28px;
}
.sub-story-content{
  margin-bottom: 30px;
}
.main-blog-section .grid-item{
  width: 50%;
}
.mbl-grid-list{
  width: 50%;
  float: left;
}
.store-select-sec {
  margin: 15px 0;
}
.main-content-section .container > p strong {
  font-size: 18px;
}
.growing-group-sec li{
  margin-bottom: 10px;
}
.grow-greens .container > h2{
  margin-bottom: 20px;
}
.plant-week-sec,
.learns-to-grow{
  padding: 30px;
}
.plant-week-sec h2{
  font-size: 30px;
}
.plant-week-sec p{
  font-size: 18px;
}
}

@media only screen and (max-width:640px) {
.testimonials-section {
  padding: 35px 0;
}
.testimonials-slide-sec {
  margin-top: 20px;
}
.works-section-content strong, 
.testimonials-section .container > strong, 
.blog-post-section .container > strong, 
.smart-garden-content > strong{
  font-size: 13px;
  letter-spacing: 2px !important;
}
.learns-to-grow-section figure{
  width: auto;
}
.learns-to-grow-content{
  width: 100%;
  padding: 25px 0 0 0;
}
.plant-week-sec{
  background-size: 35%;
}
.plant-select-section{
  width: 100%;
  float: left;
  position: static;
  margin-bottom: 25px;
}
}


@media only screen and (max-width:520px) {
.works-section-content h2, 
.slide-content-item h2, 
.blog-sec h2, 
.smart-garden-content h2, 
.smart-garden-sub-section h2 {
  font-size: 25px;
}
.works-section-content strong, 
.testimonials-section .container > strong, 
.blog-post-section .container > strong, 
.smart-garden-content > strong {
  font-size: 11px;
  letter-spacing: 2px;
}
.works-section-content strong:before, 
.testimonials-section .container > strong:before, 
.blog-post-section .container > strong:before, 
.smart-garden-content > strong:before {
  right: -95px;
  width: 90px;
}
.sub-listing strong{
  font-size: 20px;
}
.sub-blog-sec figure{
  width: 100%;
  position: static;
  height: 243px;
}
.sub-blog-content{
  width: 100%;
}
.sub-blog-content h3 {
  font-size: 22px;
}
.sub-blog-content strong{
  font-size: 14px;
}
.blog-sec .btnn.btnn{
  position: static;
  margin-top: 20px;
}
.sub-store-listing h3 {
  font-size: 20px;
}
.learns-to-grow-content h3 {
  font-size: 20px;
}
.learns-to-grow-content p{
  font-size: 15px;
}
.plant-select-section.plant-select-section select{
  float: none;
  margin: 0 5px 10px !important;
  display: inline-block;
  vertical-align: middle;
}

.store-select-sec select{
  width: 120px;
}
}




@media only screen and (max-width:480px) {
.main-blog-section .grid-item{
  width: 100%;
}
.sub-blog-content-sec h3{
  font-size: 18px;
}
}


@media only screen and (max-width:420px) {
.sub-blog-content h3 {
  font-size: 18px;
  line-height: 1.3em;
}
.mbl-grid-list{
  width: 100%;
}
.plant-capsule-section .container > h3 {
  font-size: 24px;
}
.sub-footer ul li,
.sub-footer p{
  font-size: 15px;
}
.read-more.read-more {
  font-size: 12px;
  padding: 0 10px;
}
}


