
.product-export-section{
  width: 100%;
  float: left;
  background: url("images/figure-01.jpg") no-repeat center fixed;
  background-size: cover;
  padding: 52px 0 54px;
  text-align: center;
}
.product-export-section h2{
  font-size: 40px;
  font-weight: 700;
  color: #fdb813;
  margin: 0 0 23px;
}

.product-export-section strong{
  font-size: 25px;
  font-weight: 300;
  color: #fff;
  width: 100%;
  max-width: 675px;
  margin: 0 auto 20px;
  display: inline-block;
  width: 100%;
  max-width: 795px;
}

.product-export-section p{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  line-height: 1.7em;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.main-products-section{
  width: 100%;
  float: left;
  padding: 62px 0 66px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.main-products-section .container{
  position: static;
}


.main-products-section h2{
  font-size: 40px;
  font-weight: 700;
  color: #010000;
  margin: 0 0 15px;
}

.horizontalTab{
  width: 100%;
  float: left;
  margin-top: 32px !important;
}

.horizontalTab .related-listing{
  width: 100%;
  float: left;
}
.horizontalTab .resp-tabs-list{
  width: 100%;
  float: left;
  text-align: center;
  background: #efb311;
  position: relative;
} 

.horizontalTab .resp-tabs-list:before{
  content: " ";
  width: 103px;
  height: 22px;
  background: url("images/icon-01.png") no-repeat center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -21px;
}


.horizontalTab .resp-tabs-list li{
  padding: 12px 0 !important;
  margin: 0 48px;
  float: none;
  display: inline-block;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  background: none !important;
  text-shadow: 1px 1px 1px #727272;
}
.horizontalTab .resp-tabs-list li.resp-tab-active{
  border-bottom: 5px solid #002868;
  color: #002868;
}

.product-listing{
  width: 100%;
  float: left;
}

.product-listing h3{
  font-size: 30px;
  font-weight: 300;
  color: #000;
  margin: 0 0 40px;
  letter-spacing: 1px;
}

.tab-content{
  width: 100%;
  float: left;
  margin-top: 15px;
  padding: 15px 0;
}

.product-list-item{
  width: 100%;
  float: left;
  position: static;
}
.product-item{
  width: 100%;
  float: left;
}

.product-item figure{
  width: 98%;
  margin: 2px auto;
  height: 210px;
  position: relative;
  border: 4px solid transparent;
  box-shadow: 0px 0px 2px 2px #dbdbdb;
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}
.product-item figure img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: auto !important;
  bottom: 0;
  margin: auto;
}

.product-item figure a{
  display: block;
  width: 100%;
  height: 100%;
}

.product-item h4{
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin: 16px 0 12px;
}
.product-item h4 a{
  color: #000;
}
.product-item h4 a:hover{
  color: #fdb813;
}

.product-item p{
  font-size: 15px;
  font-weight: 400;
  color: #555555;
  line-height: 1.7em;
  margin: 0;
}

.product-item p + p{
  margin-top: 10px;
}

.product-item .btnn{
  margin-top: 22px !important;
  background: #002868 !important;
  color: #fff !important;
  border: 2px solid #002868 !important;
}
.product-item .btnn:hover{
  background: #f7b20c !important;
  border: 2px solid #f7b20c !important;
}

.product-item:hover figure{
  border: 4px solid #f7b20c;
}

.product-item:hover .btnn{
  background: #f7b20c !important;
  border: 2px solid #f7b20c !important;
}

.product-list-item .owl-nav {
  bottom: 0;
  height: 79px;
  margin: auto;
  top: 57px;
  width: 100%;
  pointer-events: none;
}

.product-list-item .owl-nav .owl-prev{
  background: #d8d8d8 url("images/prev-btn.png") no-repeat scroll center center;
  float: left;
  height: 79px;
  width: 49px;
  pointer-events: auto;
}

.product-list-item .owl-nav .owl-prev:hover{
  background: #cbcbcb url("images/prev-btn.png") no-repeat scroll center center;
}

.product-list-item .owl-nav .owl-next{
  background: #d8d8d8 url("images/next-btn.png") no-repeat scroll center center;
  float: right;
  height: 79px;
  width: 49px;
  pointer-events: auto;
}

.product-list-item .owl-nav .owl-next:hover{
  background: #cbcbcb url("images/next-btn.png") no-repeat scroll center center;
}

.partners-section{
  width: 100%;
  float: left;
  border-top: 1px solid #d7d7d7;
  position: relative;
}

.partners-section .container{
  position: static;
}

.partners-slide-section{
  width: 100%;
  float: left;
  margin-top: 20px;
  position: static;
}

.partners-item{
  width: 100%;
  float: left;
  position: relative;
}
.partners-item img{
  width: auto !important;
  margin: 0 auto;
}



.partners-slide-section .owl-nav {
  bottom: 0;
  height: 79px;
  margin: auto;
  top: 25px;
  width: 100%;
  pointer-events: none;
}

.partners-slide-section .owl-nav .owl-prev{
  background: #d8d8d8 url("images/prev-btn.png") no-repeat scroll center center;
  float: left;
  height: 79px;
  width: 49px;
  pointer-events: auto;
}

.partners-slide-section .owl-nav .owl-prev:hover{
  background: #cbcbcb url("images/prev-btn.png") no-repeat scroll center center;
}

.partners-slide-section .owl-nav .owl-next{
  background: #d8d8d8 url("images/next-btn.png") no-repeat scroll center center;
  float: right;
  height: 79px;
  width: 49px;
  pointer-events: auto;
}

.partners-slide-section .owl-nav .owl-next:hover{
  background: #cbcbcb url("images/next-btn.png") no-repeat scroll center center;
}

.main-footer-section{
  width: 100%;
  float: left;
  padding-top: 25px;
}

.footer-sup{
  width: 100%;
  float: left;
  background: none no-repeat;
  background-size: cover;
  position: relative;
  padding: 35px 0 45px;
  text-align: center;
}

.footer-sup:before{
  content: " ";
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  position: absolute;
  left: 0;
  top: 0;
}
.social-section{
  width: 100%;
  float: left;
  text-align: center;
}
.social-section ul{
  width: 100%;
  float: left;
  margin: 0;
}

.social-section ul li{
  display: inline-block;
  vertical-align: middle;
  margin: 0 45px;
}

.social-section ul li a{
  font-size: 40px;
  color: #848484;
}

.social-section ul li a:hover{
  color: #fdb813;
}

.nav-sub{
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 25px;
}
.nav-sub ul{
  width: 100%;
  float: left;
  margin: 0;
}
.nav-sub ul li{
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 400;
  color: #c9c9c9;
  margin: 0 38px;
}
.nav-sub ul li a{
  color: #c9c9c9;
}
.nav-sub ul li a:hover,
.nav-sub ul li.active a{
  color: #fdb813;
}

.footer-sup p {
  clear: both;
  color: #dedede;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  margin: 35px 0 0;
  letter-spacing: 0.8px;
}

.copy-right{
  width: 100%;
  float: left;
  padding: 12px 0;
  background: #000;
  text-align: center;
}
.copy-right p{
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #434343;
}

.main-section .horizontalTab{
  text-align: center;
}


.section-fld .horizontalTab .owl-nav{
  top: 36%;
  bottom: auto;
}

.all-products-field{
  width: 100%;
  float: left;
  margin-top: 20px;
  text-align: center;
}

.product-list{
  overflow: hidden;
  margin: 0 -2%;
}
.product-list .product-item{
  width: 29.33%;
  float: left;
  margin: 0 2% 45px;
}

.pagination{
  width: 100%;
  float: left;
  margin-top: 25px;
  text-align: right;
  padding: 0 98px 0 0;
}

.pagination a, 
.pagination span {
  color: #000;
  display: inline-block;
  font-family: "Latha";
  font-size: 19px;
  font-weight: 700;
  line-height: 1em;
  padding: 1px 5px 1.5px;
  vertical-align: middle;
}

.pagination span,
.pagination a:hover {
  background: #f7b20c;
  color: #fff;
}

.product_details_sec{
  width: 100%;
  float: left;
  margin: 20px 0 0;
  padding: 0;
}

.product_details_sec .product_image_view{
  width: 100%;
  float: left;
  margin: 0;
  padding: 0 98px 0 0;
}


.product_details_sec .product_image_view .main_image {
  float: left;
  margin: 0;
  /*max-width: 579px;*/
  padding:0px;
  position: relative;
  width: 100%;
}


.product_details_sec .product_image_view .image_thumbnal {
  float: right;
  margin: 0;
  padding: 0;
  width:100%;
  max-width: 125px;
}

.product_details_sec .product_image_view .thumb_slider{
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}

.simpleLens-thumbnails-container .thumb_slider{
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}

.simpleLens-thumbnails-container .thumb_slider .thumb-item {
  box-shadow:rgba(0,0,0,0.4)0 0 4px;
  float: none;
  margin: 4px auto 0;
  padding: 0;
  position: relative;
  width:116px !important;
  border: 4px solid transparent;
  transition: all 0.3s;
  height: 92px;
  overflow: hidden;
}
.simpleLens-thumbnails-container .thumb_slider .thumb-item  + .thumb-item{
  margin-top: 15px;
}
.simpleLens-thumbnails-container .thumb_slider .thumb-item:hover {
  border: 4px solid #fdb813;
}
.simpleLens-thumbnails-container .thumb_slider .thumb-item img{
  margin: 0 auto;
}


.simpleLens-thumbnails-container .thumb_slider .slick-arrow{
  background:transparent;
  color: transparent;
  border: 0;
  z-index: 999;
}

.simpleLens-thumbnails-container .thumb_slider .slick-arrow.slick-prev{
  background: url("images/img5.jpg") no-repeat center;
  width:34px;
  height: 21px; 
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.simpleLens-thumbnails-container .thumb_slider .slick-arrow.slick-next {
  background: rgba(0, 0, 0, 0) url("images/img6.jpg") no-repeat scroll center center;
  height: 21px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 34px;
  bottom: 0;
}


.product_details_sec{
  margin-bottom: 35px;
}

.main-content-section > strong{
  display: inline-block;
  width: 100%;
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
}

.enquiry-form{
  width: 100%;
  max-width: 770px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.enquiry-form header{
  width: 100%;
  float: left;
  padding: 12px 25px;
  text-align: center;
  background: #f7b20c;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.enquiry-body{
  width: 100%;
  float: left;
  padding: 40px;
  background: #fff;
}

.enquiry-body .contact-form-section{
  margin: 0;
}
.full-fid{
  margin-bottom: 14px;
}


/*===================================== Start Sandip css =====================*/


.main_table_sections{
  width: 100%;
  float: left;
  margin:35px 0 30px;
  padding: 0;
}

.main_table_sections table.promotions_table{
  width: 100%;
  float:left;
  margin: 0;
  padding: 0;
}

.main_table_sections table.promotions_table thead tr{
  background: #0f3776;
  border-bottom: 3px solid #fff;
}

.main_table_sections table.promotions_table thead tr td{
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  padding:18px 30px;
  text-shadow: rgba(0,0,0,0.4) 0 0 4px;
}

.main_table_sections table.promotions_table tbody tr{
  border-bottom: 1px solid #fff;
}

.main_table_sections table.promotions_table tbody tr td{
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  padding:18px 30px;
  text-shadow: rgba(0,0,0,0.3) 0 0 4px;
  vertical-align: top;
}

.main_table_sections table.promotions_table tbody tr td span{
  display: block;
  text-decoration:line-through;
}

.main_table_sections table.promotions_table tbody tr:nth-child(even) {background: #b08212}
.main_table_sections table.promotions_table tbody tr:nth-child(odd) {background: #e8a80f}


/*===================================== End Sandip css =====================*/












@media only screen and (max-width:1240px) {
.horizontalTab .resp-tabs-list li{
  margin: 0 30px;
}
.product-list-item .owl-nav,
.product-list-item .owl-nav .owl-prev,
.product-list-item .owl-nav .owl-next,
.partners-slide-section .owl-nav,
.partners-slide-section .owl-nav .owl-prev,
.partners-slide-section .owl-nav .owl-next{
  height: 45px;
}
.product-list-item .owl-nav .owl-prev,
.product-list-item .owl-nav .owl-next,
.partners-slide-section .owl-nav .owl-prev,
.partners-slide-section .owl-nav .owl-next{
  width: 35px;
  background-size: 15px !important;
}
}


@media only screen and (max-width:1140px) {
.product-item h4{
  height: 100%;
  min-height: 40px;
}
}


@media only screen and (max-width:1040px) {
.horizontalTab .resp-tabs-list li {
  margin: 0 20px;
  font-size: 16px;
}

}


@media only screen and (max-width:940px) {
.main-products-section h2 {
  font-size: 32px;
}
.product-list-item .owl-nav {
  top: -17%;
}
.section-fld .horizontalTab .resp-tabs-list li {
  margin: 0 12px;
}
}


@media only screen and (max-width:840px) {
.horizontalTab .resp-tabs-list li {
  font-size: 15px;
  margin: 0 12px;
}
.section-fld .horizontalTab .owl-nav {
  top: 34%;
}
.simpleLens-container{
  height: auto;
}
}



@media only screen and (max-width:767px) {
.product-export-section h2 {
  font-size: 34px;
}
.product-export-section strong {
  font-size: 22px;
}
.main-products-section h2 {
  font-size: 30px;
}

.horizontalTab .resp-accordion{
  font-size: 20px;
  width: 100%;
  float: left;
  clear: both;
  background: #002868;
  color: #fff;
  margin-bottom: 5px;
  text-align: left;
  border: none !important;
}
.product-list-item {
  padding: 0 45px;
  position: relative;
}
.product-list-item .owl-nav {
  top: -40%;
}

.horizontalTab .resp-accordion.resp-tab-active{
  background: #efb311;
}

.main-products-section{
  height: auto !important;
}
.main-section .horizontalTab {
  margin: 10px 0 0 !important;
}
.section-fld .horizontalTab .owl-nav {
  top: 19%;
}
}



@media only screen and (max-width:700px) {
.product-item h4{
  min-height: initial;
}
.product-list .product-item {
  width: 46%;
}
.product-item figure {
  overflow: hidden;
}
}


@media only screen and (max-width:640px) {
.product-export-section h2 {
  font-size: 28px;
}
.product-export-section strong {
  font-size: 20px;
}
.partners-slide-section{
  padding: 0 45px;
}
.product-listing h3 {
  font-size: 26px;
}

.social-section ul li {
  margin: 0 25px;
}
.social-section ul li a {
  font-size: 34px;
}
.nav-sub ul li {
  margin: 0 20px;
}
.footer-sup p{
  margin: 20px 0 0;
}
/*===================================== start Sandip @medis css =====================*/
.main_table_sections table.promotions_table thead tr td {
  font-size: 14px;
  padding: 8px 10px;
}
.main_table_sections table.promotions_table tbody tr td {
  font-size: 14px;
  padding: 8px 10px;
}
/*===================================== End Sandip @medis css =====================*/
}

@media only screen and (max-width:580px) {
.product_details_sec .product_image_view {
  padding: 0;
}
}


@media only screen and (max-width:520px) {
.horizontalTab .resp-accordion {
  font-size: 16px;
}
.main-products-section h2 {
  font-size: 24px;
}
.product-listing h3 {
  font-size: 22px;
}
.main-products-section {
  padding: 25px 0;
}
.product-listing h3 {
  margin: 0 0 25px;
}
.social-section ul li {
  margin: 0 15px;
}
.social-section ul li a {
  font-size: 28px;
}
.nav-sub ul li {
  margin: 0 15px 8px;
}
.footer-sup p {
  font-size: 14px;
}
.simpleLens-thumbnails-container {
  margin: 25px 0 0;
}
/*===================================== start Sandip @medis css =====================*/
.main_table_sections table.promotions_table thead tr td {
  font-size: 12px;
  line-height: 15px;
  padding: 6px;
}
.main_table_sections table.promotions_table tbody tr td {
  font-size: 14px;
  line-height: 16px;
  padding: 6px;
  vertical-align: middle;
}
}



@media only screen and (max-width:480px) {
.simpleLens-container {
  width: 65%;
}
}


@media only screen and (max-width:420px) {
.product-export-section h2 {
  font-size: 24px;
}
.product-export-section strong {
  font-size: 18px;
}
.btnn.btnn {
  padding: 0 25px;
}
.footer-sup p {
  margin: 15px 0 0;
}
.footer-sup {
  padding: 25px 0;
}
.product-list .product-item {
  width: 96%;
}
.simpleLens-thumbnails-container {
  margin: 0;
}
.simpleLens-container {
  width: 59%;
}
.main-content-section h2 {
  font-size: 22px;
}
}

@media only screen and (max-width:400px) {
.simpleLens-container {
  margin-top: 25px;
}
.simpleLens-container {
  width: 51%;
}
.simpleLens-container {
  margin-top: 55px;
}
}